.footer-logo {
    font-weight: 700;
}

.footer-img {
    width: 100%;
    height: 400px;
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: 10rem;
}

.footer-bg {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.footer-text-con {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 40px;
}

.footer-text-con p:nth-child(1) {
    font-size: 18px;
}

.footer-text-con ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 420px) {
    .footer-text-con {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-text-con {
        margin-top: 10px;
    }

    .footer-topic {
        border: none;
    }
}